.about {
    padding: 20px;
    text-align: center;
  }
  
  .about h2 {
    color: #556B2F;
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 800px;
  }
  