.error-page {
    text-align: center;
    padding: 50px;
  }
  
  .error-page h1 {
    font-size: 3rem;
    color: #D32F2F; /* Rojo para el error */
  }
  
  .error-page p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .error-page a {
    color: #556B2F;
    text-decoration: underline;
  }
  